In [2]:
import pandas as pd
from category_encoders import BinaryEncoder

In [3]:
data = {
    'Device': ['Laptop', 'TV', 'Smartphone', 'Microwave', 'Tablet'],
    'Portable': ['Yes', 'No', 'Yes', 'No', 'Yes']
}

In [4]:
df  =pd.DataFrame(data)

In [5]:
encoder = BinaryEncoder(cols=['Portable'])

In [6]:
df_encoded = encoder.fit_transform(df)

In [7]:
df_encoded

       Device  Portable_0  Portable_1
0      Laptop           0           1
1          TV           1           0
2  Smartphone           0           1
3   Microwave           1           0
4      Tablet           0           1